.navigation{
    width: 1200px;
    margin: 0px auto;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;        
    @media(max-width:1300px){
        width: 800px;
    }
    @media(max-width:900px){
        width: 600px;
    }
    @media (max-width:700px){
        width: 400px;        
    }
    @media (max-width:500px) {
        width: 100%;              
        padding: 10px 20px;
        box-sizing: border-box;
        border-bottom: 0;
    }
    .navigation_title h2{
        white-space: nowrap;
        color: var(--primary-color-cyan-70);
        a{
            color: inherit;
            text-decoration: none;
        }
    }
    .navigation_bar {
        display: flex;
        #signOut{
            display: block;
        }  
        p{
            margin-left: 10px;
            &:hover{
                cursor: pointer;
            }
            @media(max-width: 346px){            
                width: 32px;
                white-space: nowrap;
                overflow: hidden;    
                margin-left: 20px;  
                line-height: 16px;       
            }     
        }        
    }
}
hr{
    margin: 0;
    border-top: 1px solid #E8E8E8;
    @media (max-width:500px) {
        display: none;
    }
}
.main{
    width: 1200px;    
    margin:0px auto;    
    @media(max-width:1300px){
        width: 800px;
    }
    @media(max-width:900px){
        width: 600px;
    }
    @media (max-width:700px){
        width: 400px;        
    }
    @media(max-width:500px){
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }    
    #main_orderSection{                
        .main_bookingItem{                          
            padding: 0px 100px 40px;
            @media (max-width:900px){
                padding: 0px 0px 40px;
                margin-bottom: 30px;
            }
            .itemInformation{
                display: flex;
                justify-content: start;
                position: relative;
                @media (max-width:900px) {
                    display: block;
                }
                .imgSection{                                        
                    margin-right: 30px;                    
                    width: 250px;
                    height: 200px;
                    overflow: hidden;
                    @media (max-width:1300px) {
                        width: 200px;
                    }
                    @media (max-width:900px){
                        width: 100%;
                        margin-bottom: 35px;
                    }
                    img{                                 
                        min-width: 250px;            
                        height: 100%;
                        display: block;
                        object-fit: cover;                       
                        @media (max-width:900px){
                            min-width: 100%;
                        }
                    }
                }
                .textSection{                                  
                    padding-right: 100px;
                    @media (max-width:1300px) {
                        padding-right: 0px;
                        width: 25vw;
                    }
                    p{
                        padding-bottom: 4px;
                        line-height: 28px;                        
                    }
                    p:first-child{
                        padding-bottom: 20px;                        
                        color: var(--primary-color-cyan-70);
                    }
                }
                .deleteButton{
                    height: 30px;
                    position: absolute;
                    right: 0px;                                      
                    &:hover{
                        cursor: pointer;
                    }
                }
            }      
        }
    }
    btn{
        display: block;                    
        padding: 40px 100px 30px;
        @media (max-width:900px){
            padding: 40px 0px 30px;
        }           
    }
    .IdSection{
        display: flex;
        justify-content: start;
        align-items:center;
        padding: 0px 100px 10px;
       
        .messageForOrderID{            
            display: block;                     
            @media (max-width:900px) {
                padding: 0px 0px 40px;
            }   
        }
        .copyButton{
            margin-left: 20px;
            padding: 5px 10px;
            color: #FFFFFF;
            background-color: var(--primary-color-cyan-70);
            &:hover{
                cursor: pointer;
            }
        }
        .copySuccess{
            opacity: 0;
            margin-left: 5px;
            font-size: 14px;
            transition: 0.5s;
            color: var(--primary-color-cyan-70);
        }
    }
    .orderInformation{
        padding: 30px 100px 10px;
        p{
            line-height: 30px;
        }
    }
    
}
.footer{    
    padding: 40px 0 ;
    background-color: var(--secondary-color-gray-50);
    text-align: center;
    box-sizing: border-box;
    p{
        color: #FFFFFF;
    }
}
.darkenBackground{
    display: none;
    width: 100vw;
    height: 100%;     
    background-color: rgb(0,0,0,0.25);
    z-index: 2;
    position: absolute;
    top: 0;
    
    .memberPage{
        width: 340px;
        margin: 80px auto;
        border-radius: 6px;        
        background:  #FFF;
        box-shadow: 0px 4px 60px 0px #AAA;
        text-align: center;
        overflow: hidden;
        position: relative;
        .decorationBar{                        
            height: 10px;
            background: var(--additional-color-dark-cyan-gradient-0-deg, linear-gradient(270deg, #378 0%, #6AB 100%));
        }
        img{
            width: 16px;            
            position: absolute;
            padding: 7px;         
            right: 10px;
            top: 20px;
            &:hover{
                cursor: pointer;
            }              
        }
        .memberForm{
            padding: 15px;                                              
            input{
                border-radius: 5px;
                border: 1px solid #CCCCCC;
                display: block;
                box-sizing: border-box;
                margin: 15px auto;
                padding: 15px;
                width: 100%;              
            }
            btn{                
                display: block;                               
                padding: 15px 20px;
                border-radius: 5px;
                color: #FFF;
                background-color: var(--primary-color-cyan-70);
                &:hover{
                    cursor: pointer;
                }
            }
            p{
                margin-top: 10px;
                padding: 5px;
                span:hover{
                    cursor: pointer;
                }
            }
        } 
    }
    #signUpForm{
        display: none;
        #successMessage{
            display: none;
        }
    }
}